.body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.header {
}
.main {
	flex: 1;
}
.footer {
}
.container-bcg {
	width: 100%;
	height: 300px;
	background: linear-gradient(to right, yellow, orange);
	text-align: center;
}
.container-bcg_bloc {
	height: 300px;
	padding: 50px 10px;
	margin: 0 auto;
}
.paragraphe-bcg {
	font-size: 16px;
}

/************************************************/
/************************************************/
.container-form {
	width: 100%;
	padding: 100px 10px;
	background-color: rgb(250, 234, 214);
}
.form {
	width: 50%;
	margin: 0 auto;
	filter: brightness(1.3);
	-webkit-filter: brightness(1.3);
}
.form-group:not(:last-child) {
	margin-bottom: 20px;
}
.form-input {
	font-size: 16px;
	font-family: inherit;
	color: inherit;
	display: block;
	padding: 10px 16px;
	width: 90%;
	border-radius: 3px;
	-webkit-border-radius: ;
	-moz-border-radius: ;
	-ms-border-radius: ;
	-o-border-radius: ;
	border: none;
	background-color: rgba(255, 255, 255, 0.5);
	border-bottom: 2px solid transparent;
}
.form-input:focus {
	outline: none;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-bottom: 2px solid green;
}
.form-input:focus:invalid {
	border-bottom: 2px solid red;
}
.form-input::-webkit-input-placeholder {
	color: grey;
}
.form-label {
	font-size: 16px;
	margin-left: 16px;
	margin-top: 16px;
	display: block;
	font-weight: bold;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.form-input:placeholder-shown + .form-label {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-50px);
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	-o-transform: translateY(-50px);
}
/*************************************/
.form-paragraphe {
	font-size: 18px;
}

.form-label1 {
	font-size: 16px;
}
/*************************************/
/*************************************/
.address-localisation {
	width: 70%;
	margin: 20px auto 50px;
	border: 3px solid #333333;
}

/*************************************/
/*************************************/
li:hover {
	background-color: lightgrey;
}

/*************************************/
/*************************************/
@media screen and (max-width: 1025px) {
	.form {
		width: 90%;
	}
}

/*************************************/
/*************************************/
/*************************************/
/*************************************/
/***
.navigation {
}
.navigation-checkbox {
	display: none;
}
.navigation-button {
	width: 7rem;
	height: 7rem;
	border-radius: 50%;
	position: fixed;
	top: 6rem;
	right: 6rem;
	background-color: white;
	z-index: 2000;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	text-align: center;
	cursor: pointer;
}
.navigation-background {
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background-image: radial-gradient(yellow, orange);
	position: fixed;
	top: 6.5rem;
	right: 6.5rem;
	z-index: 1000;
	transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
	-webkit-transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
	-moz-transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
	-ms-transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
	-o-transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}
.navigation-main {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1500;
	width: 0;
	opacity: 0;
	transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
	-webkit-transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
	-moz-transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
	-ms-transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
	-o-transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation-checkbox:checked ~ .navigation-background {
	transform: scale(80);
	-webkit-transform: scale(80);
	-moz-transform: scale(80);
	-ms-transform: scale(80);
	-o-transform: scale(80);
}
.navigation-checkbox:checked ~ .navigation-main {
	opacity: 1;
	width: 100%;
}
.navigation-icon {
	margin-top: 3rem;
	position: relative;
}
.navigation-icon,
.navigation-icon::before,
.navigation-icon::after {
	width: 3rem;
	height: 2px;
	background-color: orange;
	display: inline-block;
}
.navigation-icon::before,
.navigation-icon::after {
	content: "";
	position: absolute;
	left: 0;
}
.navigation-icon::before {
	top: -0.8rem;
}
.navigation-icon::after {
	top: 0.8rem;
}
.navigation-button:hover .navigation-icon::before {
	top: -1rem;
}
.navigation-button:hover .navigation-icon::after {
	top: 1rem;
}
.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
	top: 0;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
}
.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
	top: 0;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
}
.navigation-checkbox:checked + .navigation-button .navigation-icon {
	background-color: transparent;
}
*/
